.vscode/settings.json
node_modules/*
!node_modules/p4.js/src/vis/visualize.js
.idea/Bachelor_project.iml
.idea/misc.xml
.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
demos/keplercopy.js
demos/keplercopy2.js
